[package]
name = "sd2snes-lttp-rando-tracker"
description = "Automatically track progress in a Link to the Past randomizer run using a USB2SNES modified SD2SNES."
version = "1.0.0"
authors = ["Jacob Helwig <jacob@technosorcery.net>"]
build = "build.rs"
include = ["ui/dist"]

[dependencies]
bus = "2.0.1"
clap = "2.32.0"
failure = "0.1.3"
futures = "0.1.25"
hyper = "0.12.19"
includedir = "0.5.0"
lazy_static = "1.2"
phf = "0.7.23"
rocket = "0.4.0"
rocket_codegen = "0.4.0"
rocket_contrib = "0.4.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_yaml = "0.8.8"
serial = "0.4"
tokio = "0.1.13"
tokio-core = "0.1.17"
unicase = "1.4.2"
websocket = "0.21.1"

[dependencies.lazy-panic]
version = "1.0.0"
features = ['backtrace-on']

[build-dependencies]
includedir_codegen = "0.5.0"
