.item {
  height: 64px;
  width: 64px;
  display: inline-block;
  position: relative;

  &.none,
  &.false {
    opacity: $unobtainedItemOpacity;
  }
  &.unactivated {
    opacity: $unactivatedOpacity;
  }

  &.bow {
    background-image: url('/static/image/bow.png');
  }
  &.hookshot {
    background-image: url('/static/image/hookshot.png');
  }
  &.hammer {
    background-image: url('/static/image/hammer.png');
  }
  &.firerod {
    background-image: url('/static/image/firerod.png');
  }
  &.nogloves {
    background-image: url('/static/image/glove0.png');
    opacity: $unobtainedItemOpacity;
  }
  &.powerglove {
    background-image: url('/static/image/glove1.png');
  }
  &.titansmitt {
    background-image: url('/static/image/glove2.png');
  }
  &.moonpearl {
    background-image: url('/static/image/moonpearl.png');
  }
  &.somaria {
    background-image: url('/static/image/somaria.png');
  }
  &.lantern {
    background-image: url('/static/image/lantern.png');
  }
  &.flute {
    background-image: url('/static/image/flute.png');
  }
  &.book {
    background-image: url('/static/image/book.png');
  }
  &.boots {
    background-image: url('/static/image/boots.png');
  }
  &.flippers {
    background-image: url('/static/image/flippers.png');
  }
  &.mirror {
    background-image: url('/static/image/mirror.png');
  }
  &.nosword {
    background-image: url('/static/image/sword0.png');
    opacity: $unobtainedItemOpacity;
  }
  &.fighterssword {
    background-image: url('/static/image/sword1.png');
  }
  &.mastersword {
    background-image: url('/static/image/sword2.png');
  }
  &.temperedsword {
    background-image: url('/static/image/sword3.png');
  }
  &.goldensword {
    background-image: url('/static/image/sword4.png');
  }
  &.greenmail {
    background-image: url('/static/image/tunic1.png');
  }
  &.bluemail {
    background-image: url('/static/image/tunic2.png');
  }
  &.redmail {
    background-image: url('/static/image/tunic3.png');
  }
  &.noshield {
    background-image: url('/static/image/shield0.png');
    opacity: $unobtainedItemOpacity;
  }
  &.fightersshield {
    background-image: url('/static/image/shield1.png');
  }
  &.redshield {
    background-image: url('/static/image/shield2.png');
  }
  &.mirrorshield {
    background-image: url('/static/image/shield3.png');
  }
  &.bombos {
    background-image: url('/static/image/bombos.png');
  }
  &.ether {
    background-image: url('/static/image/ether.png');
  }
  &.quake {
    background-image: url('/static/image/quake.png');
  }
  &.shovel {
    background-image: url('/static/image/shovel.png');
  }
  &.mushroom {
    background-image: url('/static/image/mushroom.png');
  }
  &.powder {
    background-image: url('/static/image/powder.png');
  }
  &.bottle0 {
    background-image: url('/static/image/bottle0.png');
    opacity: $unobtainedItemOpacity;
  }
  &.bottle1 {
    background-image: url('/static/image/bottle1.png');
  }
  &.bottle2 {
    background-image: url('/static/image/bottle2.png');
  }
  &.bottle3 {
    background-image: url('/static/image/bottle3.png');
  }
  &.bottle4 {
    background-image: url('/static/image/bottle4.png');
  }
  &.cape {
    background-image: url('/static/image/cape.png');
  }
  &.icerod {
    background-image: url('/static/image/icerod.png');
  }
  &.silvers {
    background-image: url('/static/image/silvers.png');
  }
}
