@import 'variables';
@import 'item-states';

body {
  background-color: $black;
  color: $white;
}

.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin-top: 0px;
  position: relative;
  left: 0;
}

.mini{
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
